In [ ]:
import pandas as pd
import numpy as np
import os

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
app_data = pd.read_csv('/content/drive/MyDrive/dataset/2022_겨울_경진대회_dataset/applcation_end.csv',index_col=0)
pre_data = pd.read_csv('/content/drive/MyDrive/dataset/2022_겨울_경진대회_dataset/previous_end.csv',index_col=0)

In [ ]:
app_data

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,DAYS_BIRTH,DAYS_REGISTRATION,REGION_RATING_CLIENT_W_CITY,HOUR_APPR_PROCESS_START,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,new_ANNUITY_INCOME,new_CREDIT_INCOME,new_GOODS_INCOME,new_REGION,new_REQ_CREDIT,new_HOME_TYPE,new_EDU_LEVEL,new_EMPLOYED_DAYS,new_ECONOMIC_POPULATION
0,100002,1,Cash loans,M,-9461,-3648.0,2,10,0.083037,0.262949,0.139376,0.121978,2.007889,1.733333,0,1,0,1,-637.0,1.0
1,100003,0,Cash loans,F,-16765,-1186.0,1,11,0.311267,0.622246,NaN,0.132217,4.790750,4.183333,0,0,0,0,-1188.0,2.0
2,100004,0,Revolving loans,M,-19046,-4260.0,2,9,NaN,0.555912,0.729567,0.100000,2.000000,2.000000,0,0,0,1,-225.0,1.0
3,100006,0,Cash loans,F,-19005,-9833.0,2,17,NaN,0.650442,NaN,0.219900,2.316167,2.200000,0,0,0,1,-3039.0,2.0
4,100007,0,Cash loans,M,-19932,-4311.0,2,11,NaN,0.322738,NaN,0.179963,4.222222,4.222222,1,0,0,1,-3038.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307504,456251,0,Cash loans,M,-9327,-8456.0,1,15,0.145570,0.681632,NaN,0.174971,1.617143,1.428571,0,0,1,1,-236.0,1.0
307505,456252,0,Cash loans,F,-20775,-4388.0,2,8,NaN,0.115992,NaN,0.166687,3.743750,3.125000,0,0,0,1,NaN,1.0
307506,456253,0,Cash loans,F,-14966,-6737.0,3,9,0.744026,0.535722,0.218859,0.195941,4.429176,3.823529,1,3,0,0,-7921.0,1.0
307507,456254,1,Cash loans,F,-11961,-2562.0,2,9,NaN,0.514163,0.661024,0.118158,2.164368,1.868421,1,0,0,1,-4786.0,2.0
307508,456255,0,Cash loans,F,-16856,-5128.0,1,20,0.734460,0.708569,0.113922,0.311857,4.285714,4.285714,1,3,0,0,-1262.0,2.0

In [ ]:
pre_data

,previous_SK_ID_CURR,previous_AMT_ANNUITY,previous_AMT_CREDIT,previous_AMT_GOODS_PRICE,previous_ID_COUNT,previous_APPLICATION_TO_CREDIT,previous_REFUSED_COUNT,previous_DAY_DECISION
0,100001.0,3951.000000,23787.00,24835.500,1,-1048.500,0,1740.000
1,100002.0,9251.775000,179055.00,179055.000,1,0.000,0,606.000
2,100003.0,56553.990000,484191.00,435436.500,3,48754.500,0,1305.000
3,100004.0,5357.250000,20106.00,24282.000,1,-4176.000,0,815.000
4,100005.0,4813.200000,20076.75,44617.500,2,-2232.000,0,536.000
...,...,...,...,...,...,...,...,...
338852,456251.0,6605.910000,40455.00,40455.000,1,0.000,0,273.000
338853,456252.0,10074.465000,56821.50,57595.500,1,-774.000,0,2497.000
338854,456253.0,4770.405000,20625.75,24162.750,2,-3537.000,0,2380.000
338855,456254.0,10681.132500,134439.75,121317.750,2,13122.000,0,299.500
338856,456255.0,20775.391875,424431.00,362770.875,8,61660.125,2,587.625

In [ ]:
df_left_join = pd.merge(app_data, pre_data, left_on='SK_ID_CURR', right_on='previous_SK_ID_CURR', how='left')

In [ ]:
df_left_join.isnull().sum()

SK_ID_CURR                             0
TARGET                                 0
NAME_CONTRACT_TYPE                     0
CODE_GENDER                            0
DAYS_BIRTH                             0
DAYS_REGISTRATION                      0
REGION_RATING_CLIENT_W_CITY            0
HOUR_APPR_PROCESS_START                0
EXT_SOURCE_1                      173377
EXT_SOURCE_2                         660
EXT_SOURCE_3                       60964
new_ANNUITY_INCOME                    12
new_CREDIT_INCOME                      0
new_GOODS_INCOME                     276
new_REGION                             0
new_REQ_CREDIT                         0
new_HOME_TYPE                          0
new_EDU_LEVEL                          0
new_EMPLOYED_DAYS                  55374
new_ECONOMIC_POPULATION                0
previous_SK_ID_CURR                16452
previous_AMT_ANNUITY               16869
previous_AMT_CREDIT                16452
previous_AMT_GOODS_PRICE           17427
previous_ID_COUNT                  16452
previous_APPLICATION_TO_CREDIT     16452
previous_REFUSED_COUNT             16452
previous_DAY_DECISION              16452
dtype: int64

In [ ]:
df_left_join[df_left_join.previous_SK_ID_CURR.isnull()]

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,DAYS_BIRTH,DAYS_REGISTRATION,REGION_RATING_CLIENT_W_CITY,HOUR_APPR_PROCESS_START,EXT_SOURCE_1,EXT_SOURCE_2,...,new_EMPLOYED_DAYS,new_ECONOMIC_POPULATION,previous_SK_ID_CURR,previous_AMT_ANNUITY,previous_AMT_CREDIT,previous_AMT_GOODS_PRICE,previous_ID_COUNT,previous_APPLICATION_TO_CREDIT,previous_REFUSED_COUNT,previous_DAY_DECISION
20,100024,0,Revolving loans,M,-18252,-298.0,2,13,0.565655,0.113375,...,-4286.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,100031,1,Cash loans,F,-18724,-6573.0,2,9,NaN,0.548477,...,-2628.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,100058,0,Revolving loans,F,-12406,-1149.0,2,9,0.656225,0.450850,...,-1176.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,100076,0,Cash loans,M,-13866,-5448.0,2,12,NaN,0.584887,...,-2546.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,100096,1,Cash loans,F,-24794,-5391.0,2,10,NaN,0.023952,...,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307240,455951,0,Cash loans,M,-16555,-7365.0,2,16,0.690567,0.540695,...,-5395.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
307385,456113,0,Cash loans,M,-10426,-1780.0,1,15,NaN,NaN,...,-2056.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
307420,456155,0,Cash loans,F,-22802,-8689.0,2,14,0.724400,0.668457,...,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
307447,456187,0,Cash loans,M,-16329,-8850.0,2,13,0.637365,0.599436,...,-3389.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
307483,456229,0,Revolving loans,F,-11973,-1926.0,2,18,0.426391,0.702403,...,-670.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
index_ = df_left_join[df_left_join.previous_SK_ID_CURR.isnull()].index

In [ ]:
df_left_join.loc[index_, 'previous_AMT_ANNUITY'] = 0
df_left_join.loc[index_, 'previous_AMT_CREDIT'] = 0
df_left_join.loc[index_, 'previous_AMT_GOODS_PRICE'] = 0
df_left_join.loc[index_, 'previous_ID_COUNT'] = 0
df_left_join.loc[index_, 'previous_DAY_DECISION'] = 0
df_left_join.loc[index_, 'previous_REFUSED_COUNT'] = 0
df_left_join.loc[index_, 'previous_APPLICATION_TO_CREDIT'] = 0

In [ ]:
df_left_join.isnull().sum()

SK_ID_CURR                             0
TARGET                                 0
NAME_CONTRACT_TYPE                     0
CODE_GENDER                            0
DAYS_BIRTH                             0
DAYS_REGISTRATION                      0
REGION_RATING_CLIENT_W_CITY            0
HOUR_APPR_PROCESS_START                0
EXT_SOURCE_1                      173377
EXT_SOURCE_2                         660
EXT_SOURCE_3                       60964
new_ANNUITY_INCOME                    12
new_CREDIT_INCOME                      0
new_GOODS_INCOME                     276
new_REGION                             0
new_REQ_CREDIT                         0
new_HOME_TYPE                          0
new_EDU_LEVEL                          0
new_EMPLOYED_DAYS                  55374
new_ECONOMIC_POPULATION                0
previous_SK_ID_CURR                16452
previous_AMT_ANNUITY                 417
previous_AMT_CREDIT                    0
previous_AMT_GOODS_PRICE             975
previous_ID_COUNT                      0
previous_APPLICATION_TO_CREDIT         0
previous_REFUSED_COUNT                 0
previous_DAY_DECISION                  0
dtype: int64

In [ ]:
final_data = df_left_join.drop('previous_SK_ID_CURR',axis=1)

In [ ]:
final_data

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,DAYS_BIRTH,DAYS_REGISTRATION,REGION_RATING_CLIENT_W_CITY,HOUR_APPR_PROCESS_START,EXT_SOURCE_1,EXT_SOURCE_2,...,new_EDU_LEVEL,new_EMPLOYED_DAYS,new_ECONOMIC_POPULATION,previous_AMT_ANNUITY,previous_AMT_CREDIT,previous_AMT_GOODS_PRICE,previous_ID_COUNT,previous_APPLICATION_TO_CREDIT,previous_REFUSED_COUNT,previous_DAY_DECISION
0,100002,1,Cash loans,M,-9461,-3648.0,2,10,0.083037,0.262949,...,1,-637.0,1.0,9251.775000,179055.00,179055.000,1.0,0.000,0.0,606.000000
1,100003,0,Cash loans,F,-16765,-1186.0,1,11,0.311267,0.622246,...,0,-1188.0,2.0,56553.990000,484191.00,435436.500,3.0,48754.500,0.0,1305.000000
2,100004,0,Revolving loans,M,-19046,-4260.0,2,9,NaN,0.555912,...,1,-225.0,1.0,5357.250000,20106.00,24282.000,1.0,-4176.000,0.0,815.000000
3,100006,0,Cash loans,F,-19005,-9833.0,2,17,NaN,0.650442,...,1,-3039.0,2.0,23651.175000,291695.50,408304.890,9.0,19492.240,1.0,272.444444
4,100007,0,Cash loans,M,-19932,-4311.0,2,11,NaN,0.322738,...,1,-3038.0,1.0,12278.805000,166638.75,150530.250,6.0,16108.500,0.0,1222.833333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307504,456251,0,Cash loans,M,-9327,-8456.0,1,15,0.145570,0.681632,...,1,-236.0,1.0,6605.910000,40455.00,40455.000,1.0,0.000,0.0,273.000000
307505,456252,0,Cash loans,F,-20775,-4388.0,2,8,NaN,0.115992,...,1,NaN,1.0,10074.465000,56821.50,57595.500,1.0,-774.000,0.0,2497.000000
307506,456253,0,Cash loans,F,-14966,-6737.0,3,9,0.744026,0.535722,...,0,-7921.0,1.0,4770.405000,20625.75,24162.750,2.0,-3537.000,0.0,2380.000000
307507,456254,1,Cash loans,F,-11961,-2562.0,2,9,NaN,0.514163,...,1,-4786.0,2.0,10681.132500,134439.75,121317.750,2.0,13122.000,0.0,299.500000
307508,456255,0,Cash loans,F,-16856,-5128.0,1,20,0.734460,0.708569,...,0,-1262.0,2.0,20775.391875,424431.00,362770.875,8.0,61660.125,2.0,587.625000

In [ ]:
final_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 307509 entries, 0 to 307508
Data columns (total 27 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   SK_ID_CURR                      307509 non-null  int64
 1   TARGET                          307509 non-null  int64
 2   NAME_CONTRACT_TYPE              307509 non-null  object
 3   CODE_GENDER                     307509 non-null  object
 4   DAYS_BIRTH                      307509 non-null  int64
 5   DAYS_REGISTRATION               307509 non-null  float64
 6   REGION_RATING_CLIENT_W_CITY     307509 non-null  int64
 7   HOUR_APPR_PROCESS_START         307509 non-null  int64
 8   EXT_SOURCE_1                    134132 non-null  float64
 9   EXT_SOURCE_2                    306849 non-null  float64
 10  EXT_SOURCE_3                    246545 non-null  float64
 11  new_ANNUITY_INCOME              307497 non-null  float64
 12  new_CREDIT_INCOME               307509 non-null  float64
 13  new_GOODS_INCOME                307233 non-null  float64
 14  new_REGION                      307509 non-null  int64
 15  new_REQ_CREDIT                  307509 non-null  int64
 16  new_HOME_TYPE                   307509 non-null  int64
 17  new_EDU_LEVEL                   307509 non-null  int64
 18  new_EMPLOYED_DAYS               252135 non-null  float64
 19  new_ECONOMIC_POPULATION         307509 non-null  float64
 20  previous_AMT_ANNUITY            307092 non-null  float64
 21  previous_AMT_CREDIT             307509 non-null  float64
 22  previous_AMT_GOODS_PRICE        306534 non-null  float64
 23  previous_ID_COUNT               307509 non-null  float64
 24  previous_APPLICATION_TO_CREDIT  307509 non-null  float64
 25  previous_REFUSED_COUNT          307509 non-null  float64
 26  previous_DAY_DECISION           307509 non-null  float64
dtypes: float64(16), int64(9), object(2)
memory usage: 73.8+ MB

In [ ]:
final_data.isnull().sum()

SK_ID_CURR                             0
TARGET                                 0
NAME_CONTRACT_TYPE                     0
CODE_GENDER                            0
DAYS_BIRTH                             0
DAYS_REGISTRATION                      0
REGION_RATING_CLIENT_W_CITY            0
HOUR_APPR_PROCESS_START                0
EXT_SOURCE_1                      173377
EXT_SOURCE_2                         660
EXT_SOURCE_3                       60964
new_ANNUITY_INCOME                    12
new_CREDIT_INCOME                      0
new_GOODS_INCOME                     276
new_REGION                             0
new_REQ_CREDIT                         0
new_HOME_TYPE                          0
new_EDU_LEVEL                          0
new_EMPLOYED_DAYS                  55374
new_ECONOMIC_POPULATION                0
previous_AMT_ANNUITY                 417
previous_AMT_CREDIT                    0
previous_AMT_GOODS_PRICE             975
previous_ID_COUNT                      0
previous_APPLICATION_TO_CREDIT         0
previous_REFUSED_COUNT                 0
previous_DAY_DECISION                  0
dtype: int64

In [ ]:
final_data.to_csv('total_credit.csv')