# Import

In [ ]:
import pandas as pd
import numpy as np
import os

import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib import font_manager, rc

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import warnings

warnings.filterwarnings(action='ignore')

# Data Read

In [ ]:
pv_app_data = pd.read_csv('/content/drive/MyDrive/dataset/2022_겨울_경진대회_dataset/previous_application.csv')

**previous_application_data 칼럼 설명**


---



[SK_ID_PREV] : 샘플의 대출과 관련된 홈 크레딧에 있는 이전 크레딧의 ID (샘플의 하나의 대출은 홈 크레딧에 0,1,2 이상의 이전 대출 신청이 있을 수 있다

[SK_ID_CURR] : 대출 ID

[NAME_CONTRACT_TYPE] :  계약상품유형 Cash loans, Consumer loans, Revolving loans, XNA

[AMT_ANNUITY] : 월 대출 지급액

[AMT_APPLICATION] : 대출 신청 금액

[AMT_CREDIT] : 대출금액(허가)

[AMT_DOWN_PAYMENT] : 대출 시 납부한 선금액

[AMT_GOODS_PRICE] : 소비자 대출상품액

[WEEKDAY_APPR_PROCESS_START] : 대출 신청 시작 요일

[HOUR_APPR_PROCESS_START] : 대출 신청 시작 시간대

[FLAG_LAST_APPL_PER_CONTRACT] : 이전 계약의 마지막 대출 신청 여부

[NFLAG_LAST_APPL_IN_DAY] : 하루중 마지막 대출 신청 여부(하루에 여러 번 대출 신청했을 경우)

[NFLAG_MICRO_CASH] : 소액 대출 여부

[RATE_DOWN_PAYMENT] : 선금 비율(정규화됨)

[RATE_INTEREST_PRIMARY] : 이자율

[RATE_INTEREST_PRIVILEGED] : 이자율

[NAME_CASH_LOAN_PURPOSE] : 현금 대출 목적

[NAME_CONTRACT_STATUS] : 대출 상태(허가, 취소)

[DAYS_DECISION] : 과거 신청 대비 현재 신청 결정 기간

[NAME_PAYMENT_TYPE] : 과거 대출 신청의 납부 방법

[CODE_REJECT_REASON] : 과거 신청 거절 사유

[NAME_TYPE_SUITE] : 동행 고객

[NAME_CLIENT_TYPE] : 신규 고객 또는 기존 대출 고객 여부

[NAME_GOODS_CATEGORY] : 대출 상품 중분류 유형

[NAME_PORTFOLIO] : 현금대출/POS/CAR 대출 유형

[NAME_PRODUCT_TYPE] : 고객이 찾아온 대출인가, 영업 대출인가[-

[CHANNEL_TYPE] : 채널 유형

[SELLERPLACE_AREA] : 판매자 판매 지역

[NAME_SELLER_INDUSTRY] : 판매자 Industry

[CNT_PAYMENT] : 이전 대출 신청의 대출금액 관련 Term

[NAME_YIELD_GROUP] : 집단 금리 적용 유형

[PRODUCT_COMBINATION] : 이전 대출 결합 상품

[DAYS_FIRST_DRAWING] : 신청날짜부터 최초 대출 지급까지의 일자

[DAYS_FIRST_DUE] : 신청날짜부터 마감일까지의 일자

[DAYS_LAST_DUE_1ST_VERSION] : 신청날짜부터 첫 만기일까지의 일자

[DAYS_LAST_DUE] : 신청날짜부터 마지막 만기일까지의 일자

[DAYS_TERMINATION] : 현 대출 신청일자 대비 대출 예상 종료 일자

[NFLAG_INSURED_ON_APPROVAL] : 대출 신청 시 보험가입 요청여부

# EDA

In [ ]:
pv_app_data

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,...,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
0,2030495,271877,Consumer loans,1730.430,17145.0,17145.0,0.0,17145.0,SATURDAY,15,...,Connectivity,12.0,middle,POS mobile with interest,365243.0,-42.0,300.0,-42.0,-37.0,0.0
1,2802425,108129,Cash loans,25188.615,607500.0,679671.0,NaN,607500.0,THURSDAY,11,...,XNA,36.0,low_action,Cash X-Sell: low,365243.0,-134.0,916.0,365243.0,365243.0,1.0
2,2523466,122040,Cash loans,15060.735,112500.0,136444.5,NaN,112500.0,TUESDAY,11,...,XNA,12.0,high,Cash X-Sell: high,365243.0,-271.0,59.0,365243.0,365243.0,1.0
3,2819243,176158,Cash loans,47041.335,450000.0,470790.0,NaN,450000.0,MONDAY,7,...,XNA,12.0,middle,Cash X-Sell: middle,365243.0,-482.0,-152.0,-182.0,-177.0,1.0
4,1784265,202054,Cash loans,31924.395,337500.0,404055.0,NaN,337500.0,THURSDAY,9,...,XNA,24.0,high,Cash Street: high,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1670209,2300464,352015,Consumer loans,14704.290,267295.5,311400.0,0.0,267295.5,WEDNESDAY,12,...,Furniture,30.0,low_normal,POS industry with interest,365243.0,-508.0,362.0,-358.0,-351.0,0.0
1670210,2357031,334635,Consumer loans,6622.020,87750.0,64291.5,29250.0,87750.0,TUESDAY,15,...,Furniture,12.0,middle,POS industry with interest,365243.0,-1604.0,-1274.0,-1304.0,-1297.0,0.0
1670211,2659632,249544,Consumer loans,11520.855,105237.0,102523.5,10525.5,105237.0,MONDAY,12,...,Consumer electronics,10.0,low_normal,POS household with interest,365243.0,-1457.0,-1187.0,-1187.0,-1181.0,0.0
1670212,2785582,400317,Cash loans,18821.520,180000.0,191880.0,NaN,180000.0,WEDNESDAY,9,...,XNA,12.0,low_normal,Cash X-Sell: low,365243.0,-1155.0,-825.0,-825.0,-817.0,1.0
1670213,2418762,261212,Cash loans,16431.300,360000.0,360000.0,NaN,360000.0,SUNDAY,10,...,XNA,48.0,middle,Cash X-Sell: middle,365243.0,-1163.0,247.0,-443.0,-423.0,0.0

In [ ]:
pv_app_data.isnull().sum()

SK_ID_PREV                           0
SK_ID_CURR                           0
NAME_CONTRACT_TYPE                   0
AMT_ANNUITY                     372235
AMT_APPLICATION                      0
AMT_CREDIT                           1
AMT_DOWN_PAYMENT                895844
AMT_GOODS_PRICE                 385515
WEEKDAY_APPR_PROCESS_START           0
HOUR_APPR_PROCESS_START              0
FLAG_LAST_APPL_PER_CONTRACT          0
NFLAG_LAST_APPL_IN_DAY               0
RATE_DOWN_PAYMENT               895844
RATE_INTEREST_PRIMARY          1664263
RATE_INTEREST_PRIVILEGED       1664263
NAME_CASH_LOAN_PURPOSE               0
NAME_CONTRACT_STATUS                 0
DAYS_DECISION                        0
NAME_PAYMENT_TYPE                    0
CODE_REJECT_REASON                   0
NAME_TYPE_SUITE                 820405
NAME_CLIENT_TYPE                     0
NAME_GOODS_CATEGORY                  0
NAME_PORTFOLIO                       0
NAME_PRODUCT_TYPE                    0
CHANNEL_TYPE                         0
SELLERPLACE_AREA                     0
NAME_SELLER_INDUSTRY                 0
CNT_PAYMENT                     372230
NAME_YIELD_GROUP                     0
PRODUCT_COMBINATION                346
DAYS_FIRST_DRAWING              673065
DAYS_FIRST_DUE                  673065
DAYS_LAST_DUE_1ST_VERSION       673065
DAYS_LAST_DUE                   673065
DAYS_TERMINATION                673065
NFLAG_INSURED_ON_APPROVAL       673065
dtype: int64

# 데이터 추출

In [ ]:
pv_app_data['SK_ID_PREV'].nunique()

1670214

In [ ]:
pv_app_data['SK_ID_CURR'].nunique()

338857

ID_CURR에 따른 기록들이 나열되있는 데이터로 추정됨 (ID_PREV는 기록의 ID값)

## AMT_ANNUITY, AMT_CREDIT, AMT_GOODS_PRICE 평균값 추출

In [ ]:
previous_data = pd.DataFrame()

In [ ]:
mean_group = ['SK_ID_CURR', 'AMT_ANNUITY', 'AMT_CREDIT', 'AMT_GOODS_PRICE']
for i in mean_group:
  grouped_pv = pv_app_data.groupby('SK_ID_CURR')[i].mean()
  previous_data[('previous_' + i)] = pd.DataFrame(list(grouped_pv))

## 대출신청기록 count

In [ ]:
pv_app_data[pv_app_data['SK_ID_CURR'] == 456255]

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,...,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
214743,1743609,456255,Consumer loans,11090.835,102037.5,112815.0,0.0,102037.5,THURSDAY,18,...,Furniture,12.0,middle,POS industry with interest,365243.0,-960.0,-630.0,-690.0,-687.0,0.0
453227,1359084,456255,Consumer loans,11314.170,82404.0,93298.5,9000.0,82404.0,SUNDAY,14,...,Connectivity,12.0,high,POS mobile with interest,365243.0,-425.0,-95.0,-215.0,-211.0,0.0
596623,1179690,456255,Cash loans,28873.170,450000.0,491580.0,NaN,450000.0,TUESDAY,13,...,XNA,24.0,middle,Cash X-Sell: middle,365243.0,-662.0,28.0,-212.0,-204.0,1.0
608510,2073384,456255,Cash loans,16400.610,229500.0,254340.0,NaN,229500.0,THURSDAY,12,...,XNA,24.0,middle,Cash X-Sell: middle,365243.0,-618.0,72.0,-558.0,-528.0,1.0
729432,1708056,456255,Revolving loans,2250.000,45000.0,45000.0,NaN,45000.0,SUNDAY,14,...,Connectivity,0.0,XNA,Card Street,NaN,NaN,NaN,NaN,NaN,NaN
814647,1296007,456255,Cash loans,30737.655,765000.0,1067940.0,NaN,765000.0,FRIDAY,14,...,XNA,60.0,low_normal,Cash Street: low,NaN,NaN,NaN,NaN,NaN,NaN
1383554,2631384,456255,Cash loans,54022.140,1170000.0,1271929.5,NaN,1170000.0,FRIDAY,14,...,XNA,36.0,low_normal,Cash X-Sell: low,365243.0,-756.0,294.0,-66.0,-64.0,0.0
1411592,2729207,456255,Consumer loans,11514.555,58225.5,58545.0,5823.0,58225.5,FRIDAY,18,...,Connectivity,6.0,high,POS mobile with interest,365243.0,-469.0,-319.0,-409.0,-400.0,0.0

In [ ]:
grouped_pv = pv_app_data.groupby('SK_ID_CURR')['SK_ID_CURR'].count()
previous_data[('previous_ID_COUNT')] = pd.DataFrame(list(grouped_pv))

In [ ]:
previous_data

,previous_SK_ID_CURR,previous_AMT_ANNUITY,previous_AMT_CREDIT,previous_AMT_GOODS_PRICE,previous_ID_COUNT
0,100001.0,3951.000000,23787.00,24835.500,1
1,100002.0,9251.775000,179055.00,179055.000,1
2,100003.0,56553.990000,484191.00,435436.500,3
3,100004.0,5357.250000,20106.00,24282.000,1
4,100005.0,4813.200000,20076.75,44617.500,2
...,...,...,...,...,...
338852,456251.0,6605.910000,40455.00,40455.000,1
338853,456252.0,10074.465000,56821.50,57595.500,1
338854,456253.0,4770.405000,20625.75,24162.750,2
338855,456254.0,10681.132500,134439.75,121317.750,2
338856,456255.0,20775.391875,424431.00,362770.875,8

## 대출신청금액 대비 허가금액

In [ ]:
pv_app_data[pv_app_data['AMT_APPLICATION'] > pv_app_data['AMT_CREDIT']]

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,...,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
15,1232483,151612,Consumer loans,21307.455,126490.5,119853.0,12649.5,126490.5,TUESDAY,7,...,Industry,6.0,low_normal,POS other with interest,365243.0,-668.0,-518.0,-518.0,-512.0,0.0
28,2075578,418383,Consumer loans,7656.705,74610.0,65610.0,9000.0,74610.0,MONDAY,14,...,Connectivity,12.0,low_normal,POS mobile with interest,365243.0,-2671.0,-2341.0,-2341.0,-2332.0,0.0
37,1151694,161591,Consumer loans,39111.075,214380.0,209497.5,13500.0,214380.0,FRIDAY,12,...,Consumer electronics,6.0,middle,POS household with interest,365243.0,-958.0,-808.0,-808.0,-804.0,0.0
39,2740958,281589,Consumer loans,6752.250,35955.0,33115.5,4500.0,35955.0,THURSDAY,9,...,Connectivity,6.0,high,POS mobile with interest,365243.0,-952.0,-802.0,-802.0,-783.0,0.0
46,2586290,447421,Consumer loans,10274.040,126544.5,101232.0,25312.5,126544.5,SATURDAY,15,...,Connectivity,12.0,middle,POS mobile with interest,365243.0,-212.0,118.0,-122.0,-116.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1669957,1327001,426466,Consumer loans,8005.635,74250.0,66825.0,7425.0,74250.0,TUESDAY,14,...,Consumer electronics,10.0,middle,POS household with interest,365243.0,-2420.0,-2150.0,-2150.0,-2144.0,0.0
1670195,2561520,334654,Consumer loans,24851.025,248535.0,223681.5,24853.5,248535.0,FRIDAY,17,...,Furniture,10.0,low_normal,POS industry with interest,365243.0,-1354.0,-1084.0,-1084.0,-1078.0,0.0
1670198,1540903,212968,Consumer loans,2088.495,22869.0,20578.5,2290.5,22869.0,SUNDAY,16,...,Connectivity,12.0,middle,POS mobile with interest,365243.0,-684.0,-354.0,-564.0,-561.0,0.0
1670210,2357031,334635,Consumer loans,6622.020,87750.0,64291.5,29250.0,87750.0,TUESDAY,15,...,Furniture,12.0,middle,POS industry with interest,365243.0,-1604.0,-1274.0,-1304.0,-1297.0,0.0
1670211,2659632,249544,Consumer loans,11520.855,105237.0,102523.5,10525.5,105237.0,MONDAY,12,...,Consumer electronics,10.0,low_normal,POS household with interest,365243.0,-1457.0,-1187.0,-1187.0,-1181.0,0.0

In [ ]:
id_list = []
value_list = []
for i in range(len(pv_app_data)):
  id_list.append(pv_app_data['SK_ID_CURR'][i])
  a = pv_app_data['AMT_APPLICATION'][i]
  b = pv_app_data['AMT_CREDIT'][i]
  c = b - a # 대출신청금액보다 대출허가금액이 더 클경우 1이상
  value_list.append(c)
APPLICATION_TO_CREDIT = pd.DataFrame(zip(id_list, value_list), columns=['SK_ID_CURR', 'APPLICATION_TO_CREDIT'])

In [ ]:
APPLICATION_TO_CREDIT.head(10)

   SK_ID_CURR  APPLICATION_TO_CREDIT
0      271877                    0.0
1      108129                72171.0
2      122040                23944.5
3      176158                20790.0
4      202054                66555.0
5      199383                25573.5
6      175704                    0.0
7      296299                    0.0
8      342292                    0.0
9      334349                    0.0

In [ ]:
APPLICATION_TO_CREDIT

         SK_ID_CURR  APPLICATION_TO_CREDIT
0            271877                    0.0
1            108129                72171.0
2            122040                23944.5
3            176158                20790.0
4            202054                66555.0
...             ...                    ...
1670209      352015                44104.5
1670210      334635               -23458.5
1670211      249544                -2713.5
1670212      400317                11880.0
1670213      261212                    0.0

[1670214 rows x 2 columns]

In [ ]:
grouped_pv = APPLICATION_TO_CREDIT.groupby('SK_ID_CURR')['APPLICATION_TO_CREDIT'].mean()
previous_data[('previous_APPLICATION_TO_CREDIT')] = pd.DataFrame(list(grouped_pv))

In [ ]:
pv_app_data[pv_app_data['SK_ID_CURR']==100001][['AMT_APPLICATION', 'AMT_CREDIT']]

        AMT_APPLICATION  AMT_CREDIT
201668          24835.5     23787.0

In [ ]:
previous_data

,previous_SK_ID_CURR,previous_AMT_ANNUITY,previous_AMT_CREDIT,previous_AMT_GOODS_PRICE,previous_ID_COUNT,previous_APPLICATION_TO_CREDIT
0,100001.0,3951.000000,23787.00,24835.500,1,-1048.500
1,100002.0,9251.775000,179055.00,179055.000,1,0.000
2,100003.0,56553.990000,484191.00,435436.500,3,48754.500
3,100004.0,5357.250000,20106.00,24282.000,1,-4176.000
4,100005.0,4813.200000,20076.75,44617.500,2,-2232.000
...,...,...,...,...,...,...
338852,456251.0,6605.910000,40455.00,40455.000,1,0.000
338853,456252.0,10074.465000,56821.50,57595.500,1,-774.000
338854,456253.0,4770.405000,20625.75,24162.750,2,-3537.000
338855,456254.0,10681.132500,134439.75,121317.750,2,13122.000
338856,456255.0,20775.391875,424431.00,362770.875,8,61660.125

## 총 대출신청건수 대비 거절 건수

In [ ]:
pv_app_data['NAME_CONTRACT_STATUS'].unique()

array(['Approved', 'Refused', 'Canceled', 'Unused offer'], dtype=object)

In [ ]:
pv_app_data[pv_app_data['NAME_CONTRACT_STATUS'] == 'Canceled']

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,...,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
6,2315218,175704,Cash loans,NaN,0.0,0.0,NaN,NaN,TUESDAY,11,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
7,1656711,296299,Cash loans,NaN,0.0,0.0,NaN,NaN,MONDAY,7,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
8,2367563,342292,Cash loans,NaN,0.0,0.0,NaN,NaN,MONDAY,15,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
9,2579447,334349,Cash loans,NaN,0.0,0.0,NaN,NaN,SATURDAY,15,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
24,1555330,199353,Cash loans,NaN,0.0,0.0,NaN,NaN,SATURDAY,6,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1670186,1433968,272570,Cash loans,NaN,0.0,0.0,NaN,NaN,THURSDAY,15,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
1670187,1971628,435554,Cash loans,NaN,0.0,0.0,NaN,NaN,MONDAY,10,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
1670188,1713281,247019,Cash loans,26446.500,900000.0,900000.0,NaN,900000.0,MONDAY,20,...,XNA,60.0,low_normal,Cash X-Sell: low,NaN,NaN,NaN,NaN,NaN,NaN
1670189,2406354,377114,Cash loans,26240.715,796500.0,954207.0,NaN,796500.0,WEDNESDAY,14,...,XNA,60.0,low_normal,Cash Street: low,NaN,NaN,NaN,NaN,NaN,NaN
1670190,2381880,175920,Cash loans,NaN,0.0,0.0,NaN,NaN,FRIDAY,11,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
pv_app_data[pv_app_data['NAME_CONTRACT_STATUS'] == 'Refused']

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,...,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
4,1784265,202054,Cash loans,31924.395,337500.0,404055.0,NaN,337500.0,THURSDAY,9,...,XNA,24.0,high,Cash Street: high,NaN,NaN,NaN,NaN,NaN,NaN
19,1173070,199178,Cash loans,4666.500,45000.0,49455.0,NaN,45000.0,SATURDAY,16,...,XNA,18.0,high,Cash Street: high,NaN,NaN,NaN,NaN,NaN,NaN
20,1506815,166490,Cash loans,25454.025,450000.0,491580.0,NaN,450000.0,MONDAY,6,...,XNA,24.0,low_normal,Cash X-Sell: low,NaN,NaN,NaN,NaN,NaN,NaN
22,1172842,302212,Cash loans,NaN,0.0,0.0,NaN,NaN,TUESDAY,9,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
23,1172937,302212,Cash loans,39475.305,1129500.0,1277104.5,NaN,1129500.0,THURSDAY,5,...,XNA,54.0,low_normal,Cash X-Sell: low,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1670197,1854636,184353,Consumer loans,15708.150,153220.5,153220.5,0.0,153220.5,SATURDAY,12,...,Construction,12.0,middle,POS industry with interest,NaN,NaN,NaN,NaN,NaN,NaN
1670203,2844282,383898,Consumer loans,NaN,14791.5,14791.5,0.0,14791.5,TUESDAY,13,...,Connectivity,NaN,XNA,POS mobile with interest,NaN,NaN,NaN,NaN,NaN,NaN
1670204,1407146,198989,Cash loans,36598.095,450000.0,570073.5,NaN,450000.0,THURSDAY,12,...,XNA,24.0,middle,Cash X-Sell: middle,NaN,NaN,NaN,NaN,NaN,NaN
1670205,2815130,338803,Cash loans,14584.050,135000.0,182956.5,NaN,135000.0,SATURDAY,10,...,XNA,24.0,high,Cash Street: high,NaN,NaN,NaN,NaN,NaN,NaN
1670207,1662353,443544,Cash loans,12607.875,112500.0,112500.0,0.0,112500.0,MONDAY,10,...,XNA,12.0,high,Cash Street: high,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
id_list = []
value_list = []
for i in range(len(pv_app_data)):
  id_list.append(pv_app_data['SK_ID_CURR'][i])
  if pv_app_data['NAME_CONTRACT_STATUS'][i] == 'Refused':
    value_list.append(1)
  else:
    value_list.append(0)
Refused_count = pd.DataFrame(zip(id_list, value_list), columns=['SK_ID_CURR', 'Refused_count'])

In [ ]:
Refused_count['Refused_count'].value_counts()

0    1379536
1     290678
Name: Refused_count, dtype: int64

In [ ]:
Refused_count['SK_ID_CURR'].nunique()

338857

In [ ]:
pv_app_data['NAME_CONTRACT_STATUS'].value_counts()

Approved        1036781
Canceled         316319
Refused          290678
Unused offer      26436
Name: NAME_CONTRACT_STATUS, dtype: int64

In [ ]:
pv_app_data['SK_ID_CURR'].nunique()

338857

In [ ]:
Refused_count

         SK_ID_CURR  Refused_count
0            271877              0
1            108129              0
2            122040              0
3            176158              0
4            202054              1
...             ...            ...
1670209      352015              0
1670210      334635              0
1670211      249544              0
1670212      400317              0
1670213      261212              0

[1670214 rows x 2 columns]

In [ ]:
grouped_pv = Refused_count.groupby('SK_ID_CURR')['Refused_count'].sum()
previous_data[('previous_REFUSED_COUNT')] = pd.DataFrame(list(grouped_pv))

In [ ]:
pv_app_data[pv_app_data['SK_ID_CURR']==456255]['NAME_CONTRACT_STATUS']

214743     Approved
453227     Approved
596623     Approved
608510     Approved
729432      Refused
814647      Refused
1383554    Approved
1411592    Approved
Name: NAME_CONTRACT_STATUS, dtype: object

In [ ]:
previous_data

,previous_SK_ID_CURR,previous_AMT_ANNUITY,previous_AMT_CREDIT,previous_AMT_GOODS_PRICE,previous_ID_COUNT,previous_APPLICATION_TO_CREDIT,previous_REFUSED_COUNT
0,100001.0,3951.000000,23787.00,24835.500,1,-1048.500,0
1,100002.0,9251.775000,179055.00,179055.000,1,0.000,0
2,100003.0,56553.990000,484191.00,435436.500,3,48754.500,0
3,100004.0,5357.250000,20106.00,24282.000,1,-4176.000,0
4,100005.0,4813.200000,20076.75,44617.500,2,-2232.000,0
...,...,...,...,...,...,...,...
338852,456251.0,6605.910000,40455.00,40455.000,1,0.000,0
338853,456252.0,10074.465000,56821.50,57595.500,1,-774.000,0
338854,456253.0,4770.405000,20625.75,24162.750,2,-3537.000,0
338855,456254.0,10681.132500,134439.75,121317.750,2,13122.000,0
338856,456255.0,20775.391875,424431.00,362770.875,8,61660.125,2

## 새로운 대출을 받기까지 걸린 평균 기간

In [ ]:
pv_app_data['DAYS_DECISION']

0           -73
1          -164
2          -301
3          -512
4          -781
           ...
1670209    -544
1670210   -1694
1670211   -1488
1670212   -1185
1670213   -1193
Name: DAYS_DECISION, Length: 1670214, dtype: int64

In [ ]:
pv_app_data[pv_app_data['DAYS_DECISION'] >= 0]

Empty DataFrame
Columns: [SK_ID_PREV, SK_ID_CURR, NAME_CONTRACT_TYPE, AMT_ANNUITY, AMT_APPLICATION, AMT_CREDIT, AMT_DOWN_PAYMENT, AMT_GOODS_PRICE, WEEKDAY_APPR_PROCESS_START, HOUR_APPR_PROCESS_START, FLAG_LAST_APPL_PER_CONTRACT, NFLAG_LAST_APPL_IN_DAY, RATE_DOWN_PAYMENT, RATE_INTEREST_PRIMARY, RATE_INTEREST_PRIVILEGED, NAME_CASH_LOAN_PURPOSE, NAME_CONTRACT_STATUS, DAYS_DECISION, NAME_PAYMENT_TYPE, CODE_REJECT_REASON, NAME_TYPE_SUITE, NAME_CLIENT_TYPE, NAME_GOODS_CATEGORY, NAME_PORTFOLIO, NAME_PRODUCT_TYPE, CHANNEL_TYPE, SELLERPLACE_AREA, NAME_SELLER_INDUSTRY, CNT_PAYMENT, NAME_YIELD_GROUP, PRODUCT_COMBINATION, DAYS_FIRST_DRAWING, DAYS_FIRST_DUE, DAYS_LAST_DUE_1ST_VERSION, DAYS_LAST_DUE, DAYS_TERMINATION, NFLAG_INSURED_ON_APPROVAL]
Index: []

[0 rows x 37 columns]

DAYS_DECISION 값은 기준일로부터 하루지날때마다 -1 되는것을 확인할 수 있음

따라서 대출간의 순수한 일 간격을 파악하기 위해 DAYS_DECISION의 절대값을 활용

In [ ]:
pv_app_data['DAYS_DECISION'] = abs(pv_app_data['DAYS_DECISION'])

In [ ]:
grouped_pv = pv_app_data.groupby('SK_ID_CURR')['DAYS_DECISION'].mean()
previous_data[('previous_DAY_DECISION')] = pd.DataFrame(list(grouped_pv))

In [ ]:
pv_app_data[pv_app_data['SK_ID_CURR'] == 100001]['DAYS_DECISION']

201668    1740
Name: DAYS_DECISION, dtype: int64

## 데이터 내보내기

In [ ]:
previous_data

,previous_SK_ID_CURR,previous_AMT_ANNUITY,previous_AMT_CREDIT,previous_AMT_GOODS_PRICE,previous_ID_COUNT,previous_APPLICATION_TO_CREDIT,previous_REFUSED_COUNT,previous_DAY_DECISION
0,100001.0,3951.000000,23787.00,24835.500,1,-1048.500,0,1740.000
1,100002.0,9251.775000,179055.00,179055.000,1,0.000,0,606.000
2,100003.0,56553.990000,484191.00,435436.500,3,48754.500,0,1305.000
3,100004.0,5357.250000,20106.00,24282.000,1,-4176.000,0,815.000
4,100005.0,4813.200000,20076.75,44617.500,2,-2232.000,0,536.000
...,...,...,...,...,...,...,...,...
338852,456251.0,6605.910000,40455.00,40455.000,1,0.000,0,273.000
338853,456252.0,10074.465000,56821.50,57595.500,1,-774.000,0,2497.000
338854,456253.0,4770.405000,20625.75,24162.750,2,-3537.000,0,2380.000
338855,456254.0,10681.132500,134439.75,121317.750,2,13122.000,0,299.500
338856,456255.0,20775.391875,424431.00,362770.875,8,61660.125,2,587.625

In [ ]:
previous_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 338857 entries, 0 to 338856
Data columns (total 8 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   previous_SK_ID_CURR             338857 non-null  float64
 1   previous_AMT_ANNUITY            338377 non-null  float64
 2   previous_AMT_CREDIT             338857 non-null  float64
 3   previous_AMT_GOODS_PRICE        337793 non-null  float64
 4   previous_ID_COUNT               338857 non-null  int64
 5   previous_APPLICATION_TO_CREDIT  338857 non-null  float64
 6   previous_REFUSED_COUNT          338857 non-null  int64
 7   previous_DAY_DECISION           338857 non-null  float64
dtypes: float64(6), int64(2)
memory usage: 20.7 MB

In [ ]:
previous_data.to_csv('previous_end.csv')